---
import Layout from "../layout/layout.astro";
---
<Layout>
  <h1>Melancolia</h1>
  <p>El sentimiento que no sabes si es bueno o malo, que si romantizas te hundes más, pero si lo odias te hundes igual.</p>
  <p>Es como un océano de emociones, a veces calmado, a veces tormentoso, pero siempre presente.</p>
  <p>Es la sensación de estar vivo, de sentir profundamente, de ser humano.</p>
</Layout>